@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - src</title>
    <link rel="icon" href="~/app/lib/images/favicon.ico">
    
    <!-- Fonts & Icons Required To Enhance The Look -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500&amp;lang=en" rel="stylesheet">
    
    <!-- Stylesheets that are going to work in Development Environment -->
    <environment include="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.css" >
        <link rel="stylesheet" href="~/app/src/stylesheets/__initialize__.css" >
    </environment>
    
    <!-- Stylesheets that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.min.css" >
    </environment>
</head>
<body>
    <header>
            <nav class="nav-extended nav-fixed white">
                <div class="nav-wrapper">
                    <a class="brand-logo grey-text text-darken-3" id="page-logo">
                        <i class="material-icons teal-text text-darken-1" id="page-logo-icon">brightness_7</i> &nbsp; eLuminous
                    </a>
                    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                        <i class="material-icons grey-text text-darken-4">menu</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <!-- Dropdown Trigger -->
                        <li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <form method="post" asp-action="Logout" asp-controller="Account">
                                        <a onclick="$(this).closest('form').submit();" class="btn-floating tooltipped btn-small waves-effect waves-light teal" data-position="left" data-tooltip="Logout @User.Identity.Name">
                                            <i class="material-icons">power_settings_new</i>
                                        </a>
                                    </form>
                                </li>   
                            }
                            
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a class='dropdown-trigger grey-text text-darken-4' href='#' data-target='dropdown1'>
                                    <i class="material-icons left grey-text text-darken-2">arrow_drop_down</i>Connect
                                </a>
                                
                                <!-- Dropdown Structure -->
                                <ul id='dropdown1' class='dropdown-content'>
                                    <li><a class="grey-text text-darken-3" asp-action="LogIn" asp-controller="Account"><i class="material-icons cyan-text text-darken-3">accessibility_new</i>Access</a></li>
                                    <li><a class="grey-text text-darken-3" asp-action="Register" asp-controller="Account"><i class="material-icons yellow-text text-darken-3">school</i>Join Classroom</a></li>
                                    <li><a class="grey-text text-darken-3" asp-action="GetPublicKeys" asp-controller="Home"><i class="material-icons yellow-text text-darken-3">code</i>Public Keys</a></li>
                                </ul>
                                
                            }
                            
                        </li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav yellow-text text-darken-3" id="mobile-nav">
                <li>
                    <a target="_blank" class="title" href="https://github.com/e-Luminous/ui">
                        <i class="fab fa-github grey-text"></i> GitHub
                    </a>
                </li>
                <li><a target="_blank" class="title" asp-action="LogIn" asp-controller="Account">SignIn</a></li>
                <li><a target="_blank" class="title" asp-action="Register" asp-controller="Account">Registration</a></li>
                <li><a class="title" asp-action="GetPublicKeys" asp-controller="Home">Public Keys</a></li>
            </ul>
        </header>
    
        <div id="load" class="progress light-teal lighten-3">
            <div class="indeterminate teal"></div>
        </div>

        <div id="contents">
            @RenderBody()
        </div>
    
<!-- Scripts that are going to work in Development Environment -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/app/lib/scripts/materialize.js"></script>
        <script src="~/app/src/scripts/__initialize___.js"></script>
    </environment>

    <!-- Scripts that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/app/lib/scripts/materialize.min.js"></script>
    </environment>    

    @RenderSection("Scripts", required: false)
</body>
</html>
