<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - src</title>
    <link rel="icon" href="~/app/lib/images/favicon.ico">
    
    <!-- Fonts & Icons Required To Enhance The Look -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500&amp;lang=en" rel="stylesheet">
    
    <!-- Stylesheets that are going to work in Development Environment -->
    <environment include="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.css" >
    </environment>
    
    <!-- Stylesheets that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.min.css" >
    </environment>
</head>
<body>
    
    
    <!-- Scripts that are going to work in Development Environment -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/app/lib/scripts/materialize.js"></script>
    </environment>

    <!-- Scripts that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/app/lib/scripts/materialize.min.js"></script>
    </environment>    

    @RenderSection("Scripts", required: false)
</body>
</html>
