@{
    Layout = "_LayoutStudentClassroom";
}

<h1>Friends</h1>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
      $("#tabStudentFriends").attr('class', 'active');
    });
</script>