@{
    Layout = "_LayoutStudentClassroom";
}

<h1>Experiment</h1>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
      $("#tabStudentExperiments").attr('class', 'active');
    });
</script>

@{ var courseName = ViewBag.CourseName; }
@if (courseName == "Physics")
{
    <script>alert("Physics");</script>
}
@if (courseName == "Chemistry")
{
    <script>alert("Chemistry");</script>
}

