<div class="row">
    <div class="col s12 l12">
        <div class="card horizontal hoverable">
            <div class="card-image" id="coverImage">
                <img src="~/app/lib/images/undraw_science_fqhl.svg" alt="gif">
            </div>
            <div class="row">
                <div class="col s12 l6">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="imageOfFame card-image"></div>
                            <p class="justifyText bengaliText">প্রায় চার হাজার বছর আগে, ব্যাবিলনে খাজনা হিসেবে শস্য প্রদানের হিসাব করতে গিয়ে দ্বিঘাত সমীকরণের সমাধানের দরকার হয়। কৃষিজীবী ব্যাবিলনীয়দের খাজনা দিতে হতো শস্যে। নির্দিষ্ট পরিমাণ খাজনা দেওয়ার জন্য ঠিক কতটুকু জমিতে আবাদ বাড়ানো দরকার, সেটিই ছিল তাদের সমস্যা। বীজগণিতের ভাষায় এটি হলো ax2+bx+c=0 সমীকরণের সমাধান।</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="justifyText bengaliText">পৃথিবী সমতল থালার মতো নয়, বরং গোলাকার একটি বস্তু। এটি বিশ্বাস করার সপক্ষে অনেক আগে, প্রায় খ্রিষ্টপূর্ব ৩৪০ সালে অ্যারিস্টটল অন্তত দুটি ভালো যুক্তি দেখাতে পেরেছিলেন। তাঁর লেখা অন দ্য হেভেন শিরোনামের একটি বইতে এসব যুক্তি তুলে ধরেছিলেন তিনি। প্রথমত, তিনি বুঝতে পেরেছিলেন, সূর্য আর চাঁদের মাঝখানে পৃথিবী আসার কারণেই যে চন্দ্রগ্রহণ হয়।</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 l2">
        <div class="card hoverable" style="border-radius: 0;">
            <div class="card-content bengaliText">
                <p class="bengaliText"><b>আসন্ন</b></p>
                <br>
                <p class="bengaliText">হুররর‍্যায়, কোনো কাজ বাকি নেই!</p>
            </div>
            <div class="card-action">
                <a class="blue-text text-darken-4 bengaliText" href="#">সবগুলো দেখুন</a>
            </div>
        </div>
    </div>
    <div class="col s12 l10">
        <div class="row">
         <div class="col s12 card">
             <div class="card-content">
                 <ul id="cTba" class="tabs">
                      <li class="tab" id="phy01tab"><a href="#paper1">পদার্থবিজ্ঞান প্রথম পত্র</a></li>
                      <li class="tab"><a href="#paper2">পদার্থবিজ্ঞান দ্বিতীয় পত্র</a></li>
                 </ul>
                 
                 <ul id="paper1" class="collapsible">
                     <li class="active">
                         <div class="collapsible-header" id="ch01Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML01Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                 </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp01Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn01Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert01Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                                 <br/>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch02Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML02Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                 </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp02Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn02Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert02Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch03Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML03Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                 </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp03Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn03Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert03Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch04Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML04Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                  </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp04Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn04Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert04Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch05Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML05Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                  </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp05Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn05Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert05Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch06Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML06Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                 </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp06Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn06Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert06Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch07Phy"><i class="material-icons">play_for_work</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <a class="right tooltipped btn-floating waves-effect waves-light deep-purple btnMLPhy" data-position="top" data-tooltip="পরীক্ষণ এর উপাত্ত যাচাই করুন" id="btnML07Phy">
                                         <i class="material-icons">bar_chart</i>
                                     </a>
                                     <h6 class="right bengaliText deep-purple-text text-darken-3"><b>উপাত্ত যাচাই করতে এনালিটিক্স বাটনে ক্লিক করুন&nbsp;&nbsp;</b></h6>
                                 </div>
                                 <div class="card-content">
                                     <hr/>
                                     <table class="tblOverflow" id="exp07Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn07Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert07Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                 </ul>
                 <ul id="paper2" class="collapsible">
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                 </ul>
             </div>
         </div>
    </div>

        <div id="analyticalModal" class="modal">
            <div class="modal-content">
                <h5 id="analyticalModalHeader" class="bengaliText"></h5><hr/>
                <h6 class="bengaliText"><b>আদর্শ উপাত্ত হতে নূন্যতম দূরত্ব</b></h6>
                <div id="chartDiv" class="wrapperForChart">
                    <canvas id="minEuclideanChart"></canvas>
                </div>
                <h6 class="bengaliText"><b>আদর্শ উপাত্ত হতে সর্বোচ্চ দূরত্ব</b></h6>
                <div id="chartDivForMax" class="wrapperForChart">
                    <canvas id="maxEuclideanChart"></canvas>
                </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
        
        <!-- Experiments -->
        <input type="hidden" id="StudentIdFromViewBag" value="@ViewBag.SID"/>
        <input type="hidden" id="ClassroomIdFromViewBag" value="@ViewBag.CID"/>
        
        <div id="experiments" class="row"></div>
        
    </div>
</div>

<script src="~/app/lib/chartjs/chart.js"></script>
<script src="~/api/scripts/GetExperimentsOfPhysics.js"></script>
<script src="~/api/modules/_PostPhysicsExperiments.js"></script>
<script src="~/api/modules/_AnalysisContext.js"></script>
