<div class="row">
    <div class="col s12 l12">
        <div class="card horizontal hoverable">
            <div class="card-image" id="coverImage">
                <img src="~/app/lib/images/undraw_science_fqhl.svg" alt="gif">
            </div>
            <div class="row">
                <div class="col s12 l6">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="imageOfFame card-image"></div>
                            <p class="justifyText">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="justifyText">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 l2">
        <div class="card hoverable" style="border-radius: 0;">
            <div class="card-content">
                <p><b>Upcoming</b></p>
                <br>
                <p>Woohoo, no work due soon!</p>
            </div>
            <div class="card-action">
                <a class="blue-text text-darken-4" href="#">View all</a>
            </div>
        </div>
    </div>
    <div class="col s12 l10">
        <div class="row">
         <div class="col s12 card hoverable">
             <div class="card-content">
                 <ul id="cTba" class="tabs">
                      <li class="tab" id="phy01tab"><a href="#paper1">পদার্থবিজ্ঞান প্রথম পত্র</a></li>
                      <li class="tab"><a href="#paper2">পদার্থবিজ্ঞান দ্বিতীয় পত্র</a></li>
                 </ul>
                 
                 <ul id="paper1" class="collapsible">
                     <li class="active">
                         <div class="collapsible-header" id="ch01Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp01Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn01Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert01Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch02Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp02Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn02Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert02Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch03Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp03Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn03Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert03Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch04Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp04Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn04Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert04Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch05Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp05Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn05Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert05Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch06Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp06Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn06Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert06Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                         <div class="collapsible-header" id="ch07Phy"><i class="material-icons">filter_drama</i><b>পরীক্ষণের নাম : </b></div>
                         <div class="collapsible-body">
                             <div class="card hoverable">
                                 <div class="card-content">
                                     <table class="tblOverflow" id="exp07Phy"></table>
                                 </div>
                                 <div class="row">
                                     <p class="center-align">
                                         <a class="right-align btn-floating btn-large waves-effect waves-light red btnPhy" id="btn07Phy"><i class="material-icons">add</i></a>
                                         <a class="right-align btn-floating btn-large waves-effect waves-light materialize-indigo conPhy" id="convert07Phy"><i class="material-icons">save</i></a>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </li>
                 </ul>
                 <ul id="paper2" class="collapsible">
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                     <li>
                         <div class="collapsible-header">Under construction</div>
                         <div class="collapsible-body">Test</div>
                     </li>
                 </ul>
             </div>
         </div>
    </div>

        
        <!-- Experiments -->
        <input type="hidden" id="StudentIdFromViewBag" value="@ViewBag.SID"/>
        <input type="hidden" id="ClassroomIdFromViewBag" value="@ViewBag.CID"/>
        
        <div id="experiments" class="row"></div>
        
    </div>
</div>

<script src="~/api/scripts/GetExperimentsOfPhysics.js"></script>
<script src="~/api/modules/_PostPhysicsExperiments.js"></script>