@{
    ViewData["Title"] = "Home Page";
}

<h2 class="center-align teal-text text-darken-2">To help expand learning for everyone</h2>
<h5 class="center-align">Working to support education through our products, programs, and philanthropy. </h5><br><br>
<p class="center-align">
    <img width="380" class="responsive-img" src="~/app/lib/images/home_astr.gif" />
</p>
